* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(200, 200, 200)
}

h1{
  position: absolute;
  top: 20px;
  font-size: 29pt;
}

.card {
  position: relative;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card_front,
.card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
  cursor: pointer;
}

.flip {
  transform: rotateY(180deg);
}

.card_front {
  transform: rotateY(180deg);
  background-color: #101c2c;
  z-index: 10;
}

.card_back {
  color: #101c2c;
  background-color: #05c3ff;
  font-size: 30px;
}

#game_over {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  display: none;
}

#restart {
  z-index: 11;
  padding: 20px;
  font-size: 20px;
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

#game_board{
  max-width: 700px;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 50px;
}
